@font-face {
  font-family: ProximaNova;
  src: url("../fonts/Proxima-Nova-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/Proxima-Nova-Bold.otf");
  font-weight: 700;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h2 {
  margin: 0;
  color: #444;
  font: 700 25px ProximaNova;
}

.btn {
  display: block;
  width: 172px;
  height: 40px;
  border: 2px solid #43c0b2;
  border-radius: 15px;
  color: #43C0B2;
  font: 700 14px/36px ProximaNova;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
}

.btn:hover {
  background: #43C0B2;
  color: #fff;
  transition: all 0.3s;
}

.btn2 {
  border: 2px solid #fff;
  color: #FFF;
}

.btn2:hover {
  background: #FFF;
  color: #43C0B2;
}

h3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  color: #444;
  font: 700 30px/30px ProximaNova;
}

h3:before {
  content: '';
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  background: url(../img/title-bg.jpg) center center no-repeat;
}

h4 {
  margin: 0;
  color: #fff;
  font: 700 30px/30px ProximaNova;
  text-align: center;
}

header {
  padding-top: 30px;
}

header .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  margin: 0;
}

header .basket {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: #444;
  font: 400 16px/16px ProximaNova;
}

header .basket:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 25px;
  margin-right: 10px;
  background: url(../img/basket-icon.png);
}

address {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
  font: 400 16px/16px ProximaNova;
}

address:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 25px;
  margin-right: 10px;
  background: url(../img/phone-icon.png);
}

nav {
  padding: 42px 0 50px;
}

nav .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

nav a {
  margin: 0 11px;
  color: #444;
  font: 700 20px/20px ProximaNova;
  text-decoration: none;
}

nav a:hover {
  color: #43c0b2;
}

nav .active {
  color: #43c0b2;
}

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 19px;
  left: 4px;
  right: 4px;
  height: 2px;
  background: #000;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -8px;
}

.cmn-toggle-switch span::after {
  bottom: -8px;
}

.cmn-toggle-switch__htx span {
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.cmn-toggle-switch__htx span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  transition-delay: 0, 0.3s;
}

.hamb {
  display: none;
}

.main {
  padding: 53px 0;
  background: url(../img/main-bg.jpg) center top no-repeat;
  background-size: cover;
}

.main .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main img {
  margin: 0 50px 0 -50px;
}

.main p {
  width: 300px;
  margin: 20px 0 0;
  color: #444;
  font: 400 25px ProximaNova;
}

.main .btn {
  margin-top: 20px;
}

.about-us {
  padding: 50px 0;
}

.about-us .video {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.about-us video {
  width: 100%;
  max-width: 490px;
  margin-right: 39px;
}

.about-us .flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 58px;
}

.about-us p {
  margin: 0 0 18px;
  color: #444;
  font: 400 16px ProximaNova;
}

.why {
  padding: 50px 0;
  background: #43c0b2 url(../img/why-bg.png) left top no-repeat;
  background-size: cover;
}

@media (max-width: 1550px) {
  .why {
    background-position: center top;
  }
}

.why ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  margin: 45px 0 0;
  padding: 0;
}

.why li {
  width: 200px;
  text-align: center;
}

.why span {
  display: block;
  color: #fff;
  font-size: 62px;
  font-weight: 400;
}

.why h5 {
  margin: 20px 0 0;
  color: #fff;
  font: 700 20px/20px ProximaNova;
}

.why p {
  margin: 15px 0 0;
  color: #fff;
  font: 400 16px ProximaNova;
}

.why .btn {
  margin: 35px auto 0;
}

.develop {
  padding: 50px 0 45px;
  background-color: #f2f2f2;
}

.develop ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.develop li {
  width: 217px;
  margin: 0 15px 45px;
  color: #444;
  text-align: center;
}

.develop span {
  display: block;
  width: 100%;
  height: 76px;
}

.develop .users {
  background: url(../img/users-icon.png) center top no-repeat;
}

.develop .competition {
  background: url(../img/competition-icon.png) center top no-repeat;
}

.develop .apple {
  background: url(../img/apple-icon.png) center top no-repeat;
}

.develop .minutes {
  background: url(../img/minutes-icon.png) center top no-repeat;
}

.develop .business {
  background: url(../img/business-icon.png) center top no-repeat;
}

.develop .grow {
  background: url(../img/grow-icon.png) center top no-repeat;
}

.develop .shop {
  background: url(../img/shop-icon.png) center top no-repeat;
}

.develop .level {
  background: url(../img/level-icon.png) center top no-repeat;
}

.develop .age {
  background: url(../img/age-icon.png) center top no-repeat;
}

.develop h5 {
  font: 700 16px/16px ProximaNova;
}

.develop p {
  font: 400 16px/16px ProximaNova;
}

.for {
  padding: 50px 0 60px;
}

.for ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 616px;
  margin: 60px 0 0;
  padding: 67px 0 0 0;
  background: url(../img/for-bg.png) center top no-repeat;
  list-style: none;
}

.for li {
  width: 275px;
  color: #444;
  margin-bottom: 35px;
}

.for li:nth-child(odd) {
  margin-right: 100px;
  text-align: right;
}

.for h5 {
  margin: 0;
  font: 700 16px/16px ProximaNova;
}

.for p {
  margin: 10px 0 0;
  font: 400 16px ProximaNova;
}

.for .entrepreneurs {
  margin-top: 8px;
  margin-bottom: 22px;
}

.for .without {
  margin-bottom: 21px;
}

.for .housewives {
  margin-top: 7px;
  margin-bottom: 25px;
}

.for .beautifuls {
  margin-bottom: 22px;
}

.for .btn {
  margin: 25px auto 0;
}

.how-it-work {
  height: 855px;
  padding-top: 50px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.how-it-work .how-it-work-container {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 780px;
  height: 780px;
  margin: 110px auto 0;
  border: 1px dashed #dfdfdf;
  border-radius: 50%;
}

.how-it-work .steps {
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-it-work .steps a {
  color: #444;
  font: 700 16px/16px ProximaNova;
  text-decoration: none;
}

.how-it-work .steps li {
  position: absolute;
  text-align: center;
  width: 102px;
}

.how-it-work .steps span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 102px;
  height: 102px;
  margin-bottom: 10px;
  background-color: #43c0b2;
  border-radius: 50%;
  color: #FFF;
  font-size: 45px;
  text-decoration: none;
}

.how-it-work .audit {
  left: -51px;
  top: calc(50% - 51px);
}

.how-it-work .analysis {
  left: calc(15% - 51px);
  top: calc(15% - 51px);
}

.how-it-work .order {
  left: calc(50% - 51px);
  top: -51px;
}

.how-it-work .pay {
  right: calc(15% - 51px);
  top: calc(15% - 51px);
}

.how-it-work .start {
  right: -51px;
  top: calc(50% - 51px);
}

.how-it-work .steps-description {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 430px;
  height: 430px;
  padding: 70px 0 0 0;
  margin: 0;
  background: #FFF;
  border-radius: 50%;
  list-style: none;
}

.how-it-work .steps-description li {
  text-align: center;
}

.how-it-work .steps-description span {
  color: #43c0b2;
  font-size: 95px;
}

.how-it-work .steps-description h5 {
  margin: 35px 0 0;
  color: #444;
  font: 700 20px/20px ProximaNova;
}

.how-it-work .steps-description p {
  width: 290px;
  margin: 10px auto 0;
  color: #444;
  font: 400 14px ProximaNova;
  text-align: left;
}

.trust {
  padding: 50px 0 55px;
}

.trust .brand-slider {
  margin: 60px auto 0;
  padding: 0;
  list-style: none;
}

.trust .brand-slider img {
  width: 120px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 1030px) {
  .trust .brand-slider {
    max-width: calc(100% - 50px);
  }
}

@media (max-width: 380px) {
  .trust .brand-slider {
    display: none;
  }
}

.trust .brand-rewiew {
  max-width: 570px;
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
}

.trust .brand-rewiew .slick-prev {
  left: -49px;
}

.trust .brand-rewiew .slick-next {
  right: -49px;
}

@media (max-width: 690px) {
  .trust .brand-rewiew {
    max-width: calc(100% - 50px);
  }
  .trust .brand-rewiew .slick-prev {
    left: -30px;
  }
  .trust .brand-rewiew .slick-next {
    right: -30px;
  }
}

.trust video {
  width: 100%;
}

.trust .slick-arrow {
  width: 18px;
  height: 35px;
}

.trust .slick-arrow:before {
  display: none;
}

.trust .slick-prev {
  background: url(../img/arrow-prev.png);
}

.trust .slick-next {
  background: url(../img/arrow-next.png);
}

.price {
  padding: 50px 0 20px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.price ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 45px;
  margin-left: -17px;
  margin-right: -17px;
  padding: 0;
  list-style: none;
}

.price li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 246px;
  height: 372px;
  margin: 0 0 20px;
}

.price .plan {
  width: 214px;
  height: 324px;
  padding-top: 25px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.price .plan div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 99px;
  height: 99px;
  margin: 25px auto 0;
  border-radius: 50%;
  background-color: #43c0b2;
}

.price .rate {
  margin: 0;
  color: #444;
  font: 700 25px/25px ProximaNova;
  text-transform: uppercase;
}

.price .plan-price {
  margin: 0;
  color: #fff;
  font: 700 20px/20px ProximaNova;
}

.price .during {
  margin: 0;
  color: #fff;
  font: 400 16px/16px ProximaNova;
}

.price .users {
  margin: 30px 0 0;
  color: #444;
  font: 400 20px/15px ProximaNova;
}

.price .users span {
  display: block;
  font: 700 25px/20px ProximaNova;
}

.price .btn {
  margin: 19px auto 0;
}

.price .top .plan {
  width: 246px;
  height: 372px;
  padding-top: 29px;
  background: #43c0b2 url(../img/top-bg.png) left top no-repeat;
}

.price .top .plan div {
  width: 114px;
  height: 114px;
  margin-top: 30px;
  background-color: #fff;
}

.price .top .rate {
  color: #FFF;
  font-size: 29px;
  line-height: 29px;
}

.price .top .plan-price {
  color: #444;
  font-size: 23px;
}

.price .top .during {
  color: #444;
  font-size: 18px;
}

.price .top .users {
  color: #FFF;
  margin-top: 34px;
  font-size: 23px;
  line-height: 17px;
}

.price .top .users span {
  font-size: 29px;
  line-height: 17px;
}

.price .top .btn {
  margin-top: 27px;
  border: 2px solid #fff;
  color: #FFF;
}

.price .top .btn:hover {
  background: #FFF;
  color: #43C0B2;
}

.sum {
  position: relative;
  background: #43c0b2 url(../img/sum-bg.png) left top no-repeat;
  background-size: cover;
  padding: 58px 0;
}

.sum img {
  position: absolute;
  left: 0;
  bottom: -105px;
}

@media (max-width: 1200px) {
  .sum img {
    left: -50px;
  }
}

@media (max-width: 1030px) {
  .sum img {
    left: -100px;
  }
}

@media (max-width: 950px) {
  .sum img {
    bottom: -50px;
  }
}

.sum .container {
  padding-left: 225px;
}

@media (max-width: 1450px) {
  .sum .container {
    padding-left: 300px;
  }
}

@media (max-width: 1330px) {
  .sum .container {
    padding-left: 400px;
  }
}

.sum p {
  margin: 0;
  color: #fff;
  font: 700 30px ProximaNova;
}

.sum .btn {
  margin-top: 30px;
}

.our-team {
  padding: 70px 0 62px;
}

.our-team ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}

.our-team li {
  width: 180px;
  margin: 0 50px 50px;
  text-align: center;
}

.our-team img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  overflow: hidden;
}

.our-team h4 {
  margin: 7px 0 10px;
  color: #444;
  font: 700 16px/16px ProximaNova;
}

.our-team p {
  margin: 0;
  color: #444;
  font: 400 16px ProximaNova;
}

.our-team .btn {
  margin: 0 auto;
}

.blog {
  padding: 50px 0 25px;
  background-color: #f7f7f7;
}

.blog .articles {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 50px;
}

.blog .post {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog .post img {
  width: 100%;
  height: 155px;
}

.blog article {
  padding-bottom: 20px;
  background: #FFF;
}

.blog .thumbnail {
  display: block;
  height: 155px;
}

.blog p {
  width: 260px;
  margin: 15px 0 0 11px;
  color: #444;
  font: 400 13px ProximaNova;
}

.blog .post-info {
  height: 67px;
  padding-left: 60px;
  padding-top: 15px;
  background: url(../img/post-icon.jpg) 11px top no-repeat;
}

.blog .post-info p {
  width: 100%;
  margin: 8px 0 0;
  color: #444;
  font: 400 11px/11px ProximaNova;
}

.blog .post-info span {
  margin-left: 18px;
}

.blog h4 {
  margin: 0;
  color: #444;
  font: 700 16px/16px ProximaNova;
  text-align: left;
}

.blog h4 a {
  color: #444;
  text-decoration: none;
}

.contact {
  padding: 50px 0;
}

.contact .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 90px;
}

.contact .menu {
  margin: -5px 0 0;
  padding: 0;
  list-style: none;
}

.contact .menu a {
  color: #444;
  font: 400 16px/25px ProximaNova;
  text-decoration: none;
}

.contact h5 {
  margin: 0;
  color: #444;
  font: 700 16px/16px ProximaNova;
}

.contact .social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 30px;
  padding: 0;
  list-style: none;
}

.contact .social a {
  color: #444;
  font-size: 23px;
  text-decoration: none;
}

.contact address {
  margin-top: 10px;
}

.contact p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 35px 0 0;
  text-align: center;
}

.contact p a {
  margin: 0 10px;
  color: #353535;
  font: 400 15px/20px ProximaNova;
  text-decoration: none;
}

.contact .logo {
  width: 87px;
  margin: 0;
}

footer {
  padding: 18px 0;
  background-color: #f7f7f7;
}

footer p {
  margin: 0;
  color: #444;
  font: 400 16px ProximaNova;
  text-align: center;
}

.blog-page {
  padding: 50px 0 32px;
  background-color: #f7f7f7;
}

.blog-page h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px;
  color: #444;
  font: 700 30px/30px ProximaNova;
}

.blog-page h1:before {
  content: '';
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  background: url(../img/title-bg.jpg) center center no-repeat;
}

.blog-page .post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 27px;
}

.blog-page .thumbnail {
  margin-right: 30px;
}

.blog-page .thumbnail img {
  width: 250px;
  height: auto;
}

.blog-page .post-head {
  height: 67px;
  padding: 15px 0 0 50px;
  background: url(../img/post-icon.jpg) left top no-repeat;
}

.blog-page .post-head p {
  margin: 7px 0 0;
  color: #444;
  font: 400 11px/11px ProximaNova;
}

.blog-page .post-head span {
  margin-left: 18px;
}

.blog-page h2 {
  margin: 0;
  font: 700 16px/16px ProximaNova;
}

.blog-page h2 a {
  color: #444;
  text-decoration: none;
}

.blog-page p {
  margin: 15px 0 0;
  color: #444;
  font: 400 13px ProximaNova;
}

.blog-page .post-foot {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0;
}

.blog-page ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-page ul li {
  margin-right: 8px;
  color: #444;
  font: 700 13px/13px ProximaNova;
  vertical-align: middle;
}

.blog-page ul a {
  display: inline-block;
}

.blog-page ul span {
  position: relative;
  top: -4px;
  margin-left: 5px;
}

.blog-page .like {
  width: 21px;
  height: 19px;
  background: url(../img/like-icon.png);
}

.blog-page .vk, .blog-page .facebook, .blog-page .twitter {
  width: 20px;
  height: 20px;
}

.blog-page .vk {
  background: url(../img/vkontakte-icon.png);
}

.blog-page .facebook {
  background: url(../img/facebook-icon.png);
}

.blog-page .twitter {
  background: url(../img/twitter-icon.png);
}

.blog-page .more {
  color: #43C0B2;
  font: 700 17px/17px ProximaNova;
  text-transform: uppercase;
  text-decoration: none;
}

.blog-page .btn {
  margin: 47px auto 0;
}

.wrapper {
  background: #f7f7f7 url(../img/vacancy-bg.png) left -45px no-repeat;
}

.wrapper h2 {
  color: #43c0b2;
  margin: 0;
  font: 700 25px/25px ProximaNova;
}

@media (max-width: 1600px) {
  .wrapper {
    background-position: -100px -45px;
  }
}

@media (max-width: 1350px) {
  .wrapper {
    background-position: -200px -45px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    background-position: -300px -45px;
  }
}

.padding {
  padding-left: 375px;
}

.vacancy {
  padding-top: 50px;
}

.vacancy h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  color: #444;
  font: 700 30px/30px ProximaNova;
}

.vacancy h1:before {
  content: '';
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  background: url(../img/title-bg.jpg) center center no-repeat;
}

.vacancy p {
  margin: 25px 0 0;
  color: #444;
  font: 400 16px ProximaNova;
}

.you-will {
  padding: 35px 0 15px;
}

.you-will ul {
  margin: 25px 0 0;
}

.list1 {
  padding: 0 0 0 15px;
  list-style: none;
}

.list1 li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 17px;
  color: #444;
  font: 700 18px ProximaNova;
}

.list1 li:before {
  content: '';
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
  width: 26px;
  height: 25px;
  margin-top: 3px;
  margin-right: 15px;
  background: url(../img/list-icon.png);
}

.need-people {
  padding-left: calc(50% - 160px);
}

.need-people div {
  padding: 28px 0 10px 56px;
  background: #45beb0 url(../img/need-people-bg.png) left top;
}

.need-people h2 {
  color: #FFF;
}

.need-people ul {
  margin: 20px 0 0;
}

.list2 {
  padding: 0 0 0 15px;
  list-style: none;
}

.list2 li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 550px;
  margin-bottom: 22px;
  color: #fff;
  font: 700 18px ProximaNova;
}

.list2 li:before {
  content: '';
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: inline-block;
  width: 26px;
  height: 25px;
  margin-top: 3px;
  margin-right: 15px;
  background: url(../img/list-icon2.png);
}

.in-us {
  padding: 70px 0 1px;
}

.in-us ul {
  margin: 25px 0 0;
}

.from-you {
  padding: 30px 0 1px;
  background: #43c0b2 url(../img/from-you-bg.png) center top;
}

.from-you h2 {
  margin: 0;
  color: #fff;
  font: 700 25px/25px ProximaNova;
}

.from-you ul {
  margin: 35px 0 0;
}

.from-you ul li {
  max-width: 560px;
}

.free-courses {
  padding: 45px 0 60px;
  background-color: #f7f7f7;
}

.free-courses ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.free-courses li {
  color: #464646;
  font: 700 18px/30px ProximaNova;
}

.free-courses p {
  max-width: 823px;
  margin: 60px auto 0;
  color: #464646;
  font: 700 25px/30px ProximaNova;
}

.free-courses .phone {
  margin: 25px auto 0;
  color: #5bcabd;
  font: 700 35px/30px ProximaNova;
}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  nav a {
    font-size: 16px;
  }
  .main img {
    width: 460px;
    margin-right: 30px;
  }
  .about-us .flex-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .about-us .video {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
  .about-us video {
    margin: 0;
  }
  .why h5 {
    height: 40px;
  }
  .for li {
    width: 200px;
  }
  .how-it-work .how-it-work-container {
    width: 640px;
    height: 640px;
  }
  .how-it-work .steps-description {
    width: 390px;
    height: 390px;
  }
  .price ul {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price li {
    margin: 0 20px 20px;
  }
  .sum .container {
    padding-left: 300px;
  }
}

@media screen and (max-width: 991px) and (max-width: 920px) {
  .sum .container {
    padding-left: 380px;
  }
}

@media screen and (max-width: 991px) {
  .blog .articles {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog .post {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact .container {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  nav {
    padding: 15px 0;
  }
  nav ul {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
  nav ul.active {
    height: 240px;
    transition: all 0.5s;
  }
  nav a {
    display: block;
    margin: 5px 0;
  }
  nav .hamb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px;
  }
  .main {
    text-align: center;
  }
  .main .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main img {
    width: 100%;
    max-width: 510px;
    margin-right: 0;
  }
  .main p {
    width: 100%;
  }
  .main .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .why {
    background-size: auto;
    background-repeat: repeat;
  }
  .why ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .why li {
    width: 280px;
    margin: 0 10px 30px;
  }
  .why h5 {
    height: auto;
  }
  .for ul {
    background: none;
    padding-top: 0;
  }
  .for li {
    width: 280px;
    margin-left: 10px;
    margin-right: 10px !important;
  }
  .how-it-work .how-it-work-container {
    width: 500px;
    height: 500px;
  }
  .how-it-work .steps li {
    width: 80px;
  }
  .how-it-work .steps span {
    width: 80px;
    height: 80px;
    font-size: 36px;
  }
  .how-it-work .audit {
    left: -40px;
    top: calc(50% - 40px);
  }
  .how-it-work .analysis {
    left: calc(15% - 40px);
    top: calc(15% - 40px);
  }
  .how-it-work .order {
    left: calc(50% - 40px);
    top: -40px;
  }
  .how-it-work .pay {
    right: calc(15% - 40px);
    top: calc(15% - 40px);
  }
  .how-it-work .start {
    right: -40px;
    top: calc(50% - 40px);
  }
  .how-it-work .steps-description {
    width: 300px;
    height: 300px;
    padding-top: 30px;
  }
  .how-it-work .steps-description span {
    font-size: 60px;
  }
  .how-it-work .steps-description h5 {
    margin-top: 20px;
  }
  .how-it-work .steps-description p {
    width: 230px;
    height: 85px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) and (max-width: 599px) {
  .how-it-work {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sum img {
    display: none;
  }
  .sum .container {
    padding-left: 10px;
    text-align: center;
  }
  .sum .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .contact .container {
    padding: 0 10px;
  }
  .contact .menu {
    margin: 0 20px;
  }
  .contact .contact-info {
    margin: 0 20px;
  }
}

@media screen and (max-width: 690px) {
  .for ul {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .for li {
    text-align: center !important;
  }
}

@media screen and (max-width: 630px) {
  .contact .container {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact .menu {
    width: 91px;
    margin: 0 40px 0;
  }
  .contact .contact-info {
    margin-top: 25px;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding-top: 10px;
  }
  header .container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header address {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 5px;
  }
  header .basket {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 10px;
  }
  .blog .articles {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog .post {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .blog-page .thumbnail {
    margin-right: 20px;
  }
  .blog-page .thumbnail img {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .blog-page .thumbnail {
    width: 300px;
    margin-right: 0;
  }
  .blog-page .thumbnail img {
    width: 100%;
    max-width: 300px;
  }
  .blog-page .post {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    background: none;
    background-color: #f7f7f7;
  }
  .padding {
    padding: 0;
  }
  .vacancy h1 {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    text-align: center;
  }
  .list1 li, .list2 li {
    margin-left: auto;
    margin-right: auto;
  }
  .need-people {
    padding: 28px 0 10px;
    background: #45beb0 url(../img/need-people-bg.png) left top;
  }
}

@media screen and (max-width: 991px) and (min-width: 750px) {
  .need-people {
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .need-people div {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
    background: none;
  }
}

@media screen and (max-width: 767px) {
  .padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .need-people div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 650px) {
  .free-courses p {
    font-size: 22px;
    line-height: 1.2;
  }
  .free-courses .phone {
    font-size: 26px;
    line-height: 1.2;
  }
}
