
.main img {
	margin: 0 20px auto;
}
.main .slick-arrow{
	width: 18px;
    height: 35px;
}
.main .slick-next {
    background: url('img/arrow-next.png');
}
.main .slick-prev {
    background: url('img/arrow-prev.png');
}
.slick-prev:before, .slick-next:before {
    font-family: none;
 }
 .btn.back-contact{
 	position: fixed;
 	z-index: 10000;
 	top:90%;
 	right:2%;
 	opacity: 1;
 	padding: 0;
 }

.modal-win{
 	position: fixed; 
 	border: 1px solid #43C0B2;
 	background-color : #43C0B2;
 	display: none; 
 	top: 10%;
 	left: 35%;
 	border-radius: 15px;
 	padding: 50px 30px 50px 30px;
 }
 .title, .buttons, .cart_list.product_list_widget, .total>strong, .woocommerce-placeholder.wp-post-image{
 	display: none;
 }

 .total{
 	margin-left: -60px;
 }

 .cart_list.product_list_widget{
 	position: absolute;
 	padding: 15px;
 	margin-left: -90px;
 	margin-top: 25px;
 	border: 1px solid #000;
 	border-radius: 5px;
 	background-color: #fff;
 	opacity: 1;
 }
.cart_list.product_list_widget>li{
 	list-style-type: none;
 	padding-top: 10px;
}
.mini_cart_item a{
	text-decoration: none;
}
.full-post{
	width: 100%;
	height: auto;
	padding: 20px;
}
.full-post p{
	width: 100%;
	text-align: justify;
}
.entry-title{
	text-align: center;
}
#modal-background{
	display: none;
	width: 100%;
	height: 100%;
}
.modal-open {
    overflow: hidden;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.wpcf7-form-control.wpcf7-submit{
	background-color: #ddd;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 172px;
	height: 40px;
}
.wpcf7-form-control.wpcf7-submit:hover{
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 172px;
	height: 40px;
}

